.planing-game-container {
  display: flex;

  height: 100vh;
  width: 100%;

  align-items: center;
  justify-content: center;

  gap: 50px;
}

.planing-game-grid {
  display: flex;

  flex-direction: column;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isHovering {
  background-color: red;
}

.planing-game-row {
  display: flex;
}

.planing-ships {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.ship {
  display: flex;
}

.ship-planing-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.ship-counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shipOne {
  background-color: green;
}

.shipTwo {
  background-color: blue;
}

.shipThree {
  background-color: brown;
}

.shipFour {
  background-color: aqua;
}

.planing-rotation-container {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 5px;

  width: 180px;
}

.planing-rotation-container p {
  color: red;
  cursor: pointer;
}

.planning-end-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  margin-top: 10px;

  gap: 10px;
}

.planning-end-button {
  cursor: pointer;

  width: 100px;
  height: 20px;
}
